{
  "branches": ["master"],
  "plugins": [
    [
      "@semantic-release/gitlab",
      {
        "gitlabUrl": "https://gitlab.nxs360.com"
      }
    ],
    ["@semantic-release/commit-analyzer", {
          "preset": "conventionalcommits",
          "releaseRules": [
            {"type": "docs", "release": "patch"},
            {"type": "refactor", "release": "patch"},
            {"type": "style", "release": "patch"}
          ],
          "parserOpts": {
            "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
          }
        }],
    "@semantic-release/release-notes-generator"
  ]
}
